<%- include('../partials/header.ejs'); %>
<%- include('../partials/navbar.ejs'); %>

<div class="container">
    <br>
    <div class="card-header" style="width: 330px;margin: 10px 0px 10px 0px; border-radius: 7%;">
        <h2>Histórico Anamnese</h2>
    </div>
        <table class="table table-bordered bg-white text-dark">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nome</th>
                    <th>Curso</th>
                    <th>Período</th>
                    <th>Contato</th>
                    <th>Atendimento</th>
                    <th>Ações</th>
                </tr>
                <tbody>
                    <% anamnese.forEach(anamnese => { %>
                        <tr>
                            <th><%=anamnese.id%></th>
                            <th><%=anamnese.nome_paciente%></th>
                            <th><%=anamnese.curso%></th>
                            <th><%=anamnese.periodo%></th>
                            <th><%=anamnese.telefone%></th>
                            <th><%=formata_data(anamnese.data_atendimento)%></th>
                            <th >
                                <a href ="/anamnese/edit/<%=anamnese.id%>" class="btn btn-warning" type ="submit">Editar</a>
                                <form action="/ana/deletar" method="post" style="display: inline;" onsubmit="confirmarDelecao(event, this)" type ="submit">
                                    <input type="hidden" name="id" value="<%- anamnese.id%>">
                                    <button class="btn btn-danger" type ="submit">Deletar</button>
                                </form>
                                <form action="/anamnese/baixar/<%=anamnese.id%>" style="display: inline;" method="post">
                                    <button class="btn btn-success" type ="submit">Baixar</button>
                                </form>
    
                            </th>
                        </tr>
                    <% }) %>

                </tbody>
        </table>
    </thead>


</div>

<%- include('../partials/footer.ejs'); %>

<script>

    function confirmarDelecao(event, form) {
        event.preventDefault();
        var decision = confirm("Você quer excluir essa categoria?")
        if (decision){
            form.submit();
        }
    }
    
</script>