<%- include('../partials/header.ejs'); %>
<%- include('../partials/navbar.ejs'); %>

<script>

    function confirmarDelecao(event, form) {
        event.preventDefault();
        var decision = confirm("Você quer excluir essa categoria?")
        if (decision){
            form.submit();
        }
    }
    
</script>


<div class="container">

    <br>
    <div class="card-header" style="width: 330px;margin: 10px 0px 10px 0px; border-radius: 7%;">
        <h2>Historico Prontuario</h2>
    </div>
        <table class="table table-bordered bg-white text-dark">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nome</th>
                    <th>Data do atendimento</th>
                    <th>Responsavel</th>
                    <th>Descrição</th>
                    <th>Ações</th>
                </tr>
                <tbody>
                    <% prontuario.forEach(prontuario => { %>
                        <tr>
                            <th><%=prontuario.id%></th>
                            <th><%=prontuario.nome_paciente%></th>
                            <th><%= formata_data(prontuario.data_atendimento)%></th>
                            <th><%=prontuario.responsavel_atendimento%></th>
                            <th><%=prontuario.descricao%></th>
                            <th>
                                <a href ="/prontuario/edit/<%=prontuario.id%>" class="btn btn-warning" type ="submit">Editar</a>
                                <form action="/prontuario/deletar" method="post" style="display: inline;" onsubmit="confirmarDelecao(event, this)" type ="submit">
                                    <input type="hidden" name="id" value="<%-prontuario.id%>">
                                    <button class="btn btn-danger" type ="submit">Deletar</button>
                                </form>
                                <button class="btn btn-success" type ="submit">Baixar</button>
                            </th>
                        </tr>
                    <% }) %>

                </tbody>
        </table>
    </thead>


</div>

<%- include('../partials/footer.ejs'); %>

